<br><br>



<div class="row">
    <div class="col s4">
    </div>
    <div class="col s12 m12 l4">

      
        <div class="card z-depth-4">

            <div class="container">
        
                <div class="row">
                    <div class="col s8">
                        <div class="col s4 offset-s2">
                            <img src="assets/logo.jpg">
                        </div>
                    </div>
                </div>      


                <div class="row">
                    <form class="col s12">
                    
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col s12 center">
                                
                                <button (click)="onSubmit()" class="btn waves-effect waves-light">Log In
                                    <i class="material-icons right">send</i>
                                </button>
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s8 offset-s3 waves-effect waves-light">
                                
                                <p routerLink="signup" routerLinkActive="active"><u> New User Registration </u></p>
                            </div>
                        </div>
                       
                    </form>
                    <br>
                </div>
                        
            </div>
            <br><br>
        </div>
    </div>
    <div class="col s4">
    </div>
</div>
