<br><br>
<div class="row">
    <div class="col s4">
    </div>
    <div class="col s12 m12 l4">
    	<div class="card z-depth-4">
        	<div class="container">
				



				<div class="row">
    				<form class="col s12">
      					<div class="row">
        					<div class="input-field col s6">
								<input id="first_name" type="text" class="validate">
								<label for="first_name">First Name</label>
        					</div>
        					<div class="input-field col s6">
          						<input id="last_name" type="text" class="validate">
          						<label for="last_name">Last Name</label>
        					</div>
      					</div>

						
						

						<div class="row">
        					<div class="input-field col s12">
								<input id="email" type="email" class="validate">
								<label for="email">Email</label>
        					</div>
      					</div>




            			<div class="row">
        					<div class="input-field col s12">
								<input id="password" type="password" class="validate">
								<label for="password">Password</label>
        					</div>
      					</div>
						

						<div class="input-field col s12">
							<select>
							<option value="" selected>Choose User Type</option>
							<option value="1">Student</option>
							<option value="2">Teacher</option>
							<option value="3">Admin</option>
							</select>
							<label>Registration Type</label>
						</div>


						<div class="row">
        					<div class="col s4 offset-s3">
								<button (click)="onSubmit()" class="btn waves-effect waves-light" type="submit" name="action">Register
									<i class="material-icons right">send</i>
								</button>
        
        					</div>
      					</div>
					
      

    				</form>
				</div>
        	</div>
    	</div>
    </div>
</div>